

.searchWrapper {
  text-align: center;
  width: 100%;
  position: absolute;
  top: 50%;
  align-items: center;
  justify-content: center;

  .searchInput {
   width: 100%;
   border: 1px solid red;
  }

  button {
    padding: 8px;
    background-color: transparent;
    border-radius: 50%;
    border: 1px solid yellow;

    .fa-search {
      width: 30px;
      height: 30px;
      font-size: 25px;
      color: var(--dark-text-color);

    }
  }
}