.meals {
  max-width: 60rem;
  width: 90%;
  margin: 0 auto;
  animation: meals-wrappear 1s ease-out forwards;

  ul {
    list-style: none;
    margin: 0 auto;
    padding: 0;

  }
}


@keyframes meals-wrappear {
  from {
    opacity: 0;
    transform: translateY(3rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 800px) {
 .meals {
   max-width: 100%;
 }
}