.list {
max-width: 350px;

  li {
    padding: 5px 15px;
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 15px;
    position: relative;
    cursor: pointer;

    &:hover {
      color: var(--hover-main-color);
    }

    &.tagSize1 {
      font-size: 14px;
    }
    &.tagSize2 {
      font-size: 16px;
    }
    &.tagSize3 {
      font-size: 18px;
    }
    &.tagSize4 {
      font-size: 20px;
    }
    &.tagSize5 {
      font-size: 22px;
    }
    &.activeTag {
      color: var(--main-color);
      text-decoration: underline;
    }
  }



}

@media (max-width: 800px) {
  .list {
    text-align: center;
    gap: 15px;
    max-width: 100%;

    li {
      margin: 0;
      padding: 10px;

    }
  }

}