.cartItems {
  list-style: none;
  margin: 0;
  padding: 0;
  max-height: 80vh;
  overflow: auto;
}

.total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-size: 1.5rem;
  margin: 1rem 0;
}

.actions {
  text-align: right;
}

.actions button {
  font: inherit;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #60ba63;
  padding: 0.5rem 2rem;
  border-radius: 25px;
  margin-left: 1rem;
}

.actions button:hover,
.actions button:active {
  background-color: #60ba63;
  border-color: #60ba63;
  color: white;
}

.actions .button--alt {
  color: #60ba63;
}

.actions .button--cancel {
  color: #e37a71;
  border: 1px solid #e37a71;
  transition: all .2s ease;

  &:hover {
    color: #fff;
    background-color: #e37a71;
    border: 1px solid #e37a71;
  }
}

.actions .button {
  background-color: #60ba63;
  color: white;
}

.orderInfo {
  display: flex;
  flex-direction: column;
  text-align: center;

  p {
    font-family: Roboto, sans-serif;
    margin-top: 50px;
    font-size: 26px;
  }
  .deliveryImage {
    max-height: 400px;
    width: auto;
    margin: 20px auto;
  }
}
