.cartItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #60ba63;
  padding: 20px 0;
  margin: 20px 0;

  h2 {
    margin: 0 0 10px 0;
    color: #363636;
  }

  .summary {
    width: 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .price {
    font-weight: bold;
    color: #60ba63;
  }

  .amount {
    font-weight: bold;
    border: 1px solid #ccc;
    padding: 0.25rem 0.75rem;
    border-radius: 6px;
    color: #363636;
  }

  .actions {
    display: flex;
    flex-direction: column;
  }

  button {
    font: inherit;
    font-weight: bold;
    font-size: 1.25rem;
    color: #60ba63;
    border: 1px solid #60ba63;
    width: 3rem;
    text-align: center;
    border-radius: 6px;
    background-color: transparent;
    cursor: pointer;
    margin-left: 15px;


    &:hover,
    &:active {
      background-color: #60ba63;
      color: white;
    }
  }
}


@media (min-width: 768px) {
  .actions {
    flex-direction: row;
  }
}


