.mealItem {
  background-color: #60ba63;
  color: #fff;
  width: 80%;
  margin: 20px auto;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  animation: meals-appear 1s ease-out forwards;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);

  &:hover {
    background-color: #5aad5d;
  }

  .mealImage {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 20px;
    margin-right: 20px;
  }

  .mealDescription {
    flex-grow: 1;

    h3, p {
      margin: 5px 0;
    }
  }


}