.mealItem {
  background-color: #fff;
  color: var(--dark-text-color);
  width: 95%;
  margin: 20px auto;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  animation: meals-appear 1s ease-out forwards;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

  &:hover {
    background-color: rgba(85, 180, 88, 0.5);

  }

  .mealImage {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 20px;
    margin-right: 20px;
  }

  .mealDescription {
    flex-grow: 1;

    h3, p {
      margin: 5px 0;
    }
  }


}

