.container {
  max-width: 1140px;
  margin: auto;
  padding: 50px 0;
  display: flex;

  aside {
    width: 30%;
    margin-left: 30px;
  }
}

@media (max-width: 800px) {
  .container {
    flex-direction: column;
  }
}