.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 0;
  background-color: #60ba63;
  color: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 10;
  transition: all .5s ease;

  .container {
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h1 {
      transition: all .5s ease;
      font-family: 'Dancing Script', cursive;
      letter-spacing: 1px;
      margin: 0;
    }

    .wrapper {
      display: flex;
      align-items: center;
    }

    .userImage {
      height: 50px;
      width: 50px;
      margin-left: 20px;
      border-radius: 50%;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);

    }
  }

}
.mainImage {
  width: 100%;
  height: 350px;
  z-index: 0;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);

  img {
    width: 110%;
    height: 100%;
    object-fit: cover;
  }
}

 @media (max-width: 1250px) {
   .header .container {
     width: 100%;
     padding: 0 20px;
   }
 }

@media (max-width: 576px) {
  .header {
    padding: 5px 0;

    .container{
      h1 {
        font-size: 20px;
      }

      .userImage {
        height: 40px;
        width: 40px;
      }
    }
  }

}