  .form {
    font-size: 16px;
    width: 90%;
    height: 50px;
    position: relative;
    overflow: hidden;
    margin-bottom: 40px;

    input {
      width: 100%;
      height: 100%;
      padding-top: 20px;
      color: #595f6e;
      border: none;
      background-color: var(--main-bg-color);
      font-size: 18px;

      &:focus {
        outline: none;
      }

      &:focus + .labelName .contentName,
      &:valid + .labelName .contentName {
        transform: translateY(-150%);
        font-size: 14px;
        color: var(--main-color);
      }

      &:focus + .labelName::after,
      &:valid + .labelName::after {
        transform: translateX(0%);
      }
    }

    label {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      pointer-events: none;
      border-bottom: 1px solid #595f6e;

      &::after {
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        bottom: -2px;
        border-bottom: 3px solid #60ba63;
        transform: translateX(-100%);
        transition: all 0.4s ease;
      }
    }

    .contentName {
      position: absolute;
      bottom: 5px;
      left: 0;
      transition: all 0.4s ease;
      color: #595f6e;
    }
  }

  .submitBtn {
    background-color: var(--main-color);
    color: var(--main-bg-color);
    font: inherit;
    cursor: pointer;
    border: 1px solid var(--main-color);
    padding: 0.5rem 2rem;
    border-radius: 25px;
    margin-left: 1rem;
    font-weight: bold;

    &:hover {
      background-color: var(--hover-main-color);
    }
  }





